body {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
    gap: 20px;
}

.circle
{
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

.circle:hover {
    transform: scale(1.05);
}

.circle p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#Rock {
    background-color: rgb(46, 174, 174);
}

#Paper {
    background-color: rgb(209, 25, 25);
}

#Scissors {
    background-color: rgb(2, 164, 129);
}
